*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
}

:root{
  --cor-primaria: #1219d8;
  --cor-secundaria: #d81212;
  --bg-panel: #c8cdd4;
  --title-main: 4rem; 
}

html{
  /*font-size: 100%; | 100% = 16px = 1rem */
  font-size: 62.5%; /* 62.5% = 10px = 1rem*/
}

body{
  font-size: 2rem; /* 20px = 2rem */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}
