*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}

html {
    /* font-size: 100% -> propriedade herdada, 100% = 16px = 1rem */
    font-size: 62,5%; /* 625% = 10px = 1rem */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
}

/*uma das poucas tags que carrega css pre-definido: underline e dois tipos de cor (link e quando clica)*/
a{
    text-decoration: none;
    color: inherit;
}