*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}

<<<<<<< HEAD
/*
    Declarando variáveis no CSS:
    --cor-de-fundo : #ff0000;
    --size-font-padrao: 3rem;

    Para utilizar a variável css:

    h1{
        color : var(--cor-de-fundo);
        font-size : var(--size-font-padrao);
    }

*/

:root{
    /* Cores de Fundo e Identidade */
    --bg-dark:#1a1b1c;  /* Fundo quase preto */
    --bg-dark-med:#4f5357;  /* Fundo quase preto */
    --bg-panel:#242629; /* Fundo de base */
    --primary:#556b2f; /* Verde Oliva */
    --primary-hover:#6b8e23; /* Verde Oliva mais claro para o hover */

    /* Cores de Texto */
    --text-main:#e0e0e0; /* Branco acinzentado */
    --text-muted:#a0a0a0; /* Textos menos importantes */
    --text-inv:#ffffff; /* Branco puro para contraste no verde do hover */
}


html{
    font-size: 62.5%;/* 10px = 1rem */
=======
html {
    /* font-size: 100% -> propriedade herdada, 100% = 16px = 1rem */
    font-size: 62,5%; /* 625% = 10px = 1rem */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
}

body{
    font-size: 2rem;
<<<<<<< HEAD
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
=======
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
    width: 100vw;
    height: 100vh;
}

<<<<<<< HEAD
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    position: relative;
    width: 100%;
=======
main{
    width: 100%;
    height: 100%;
}

/*uma das poucas tags que carrega css pre-definido: underline e dois tipos de cor (link e quando clica)*/
a{
    text-decoration: none;
    color: inherit;
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
}