.cabecalho{
    background-color: #c8cdd4;
    width: 100%;
    height: 12%;
}

.cabecalho__li{
<<<<<<< HEAD
    display: inline-block;
=======
    display: inline-block; /*linhas ficam lado a lado, mas podem ser alteradas as caracteristca*/
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
    margin: 1%;
}

.cabecalho__a{
    background-color: #a2c0dd;
    display: inline-block;
<<<<<<< HEAD
    padding: 10%;
=======
    padding: 10px;
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
    width: 10vw;
    text-align: center;
    border-radius: 10px;
}

<<<<<<< HEAD
.cabecalho__a:hover {
    background-color: #dadde0;
    color: #fff;   
}


@media (max-width:320px){
    .cabecalho{
        width: 50%;
    }
=======
.cabecalho__a:hover{
    background-color: #dadde0;
    color: #fff;
>>>>>>> 5d17c6a658502028c27c1feb8d9e6dbe1056a28f
}