.conteudo__sec{
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.conteudo__mod{
    background-color: #e9b469;

    column-gap: 1rem;
    box-shadow: 0 0 0 none;
    transition: box-shadow 0.5 ease-in-out;


}
.conteudo__mod:hover{
    box-shadow: 10px 10px 10px #ff0000;
   


}