.hero{
    background-color: #f00;
    width: 100%;
    height: 100%;

}

.hero__container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0)) , url("../img/image.png");
    background-position: center;
    background-size: cover;
}