.hero{
    background-color: var(--bg-panel);
    width: 100%;
    height: 100%;
    color: #fff;
}

.hero__container{
    width: 100%;
    height: 100%;
    background-image: var(--grandient), url(../img/img-01-fundo-hero.jpg);
    background-position: center;
    background-size: cover;
    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero__title{
    text-align: center;
    font-size: var(--title-main);
    font-weight: bold;
}

.hero__text{

}

.hero__tbn{

}